*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color: palevioletred;
    color: black;
    padding-top: 4px;
    height: 50px;
    padding-left: 10px;
}

.container{
    pad: 10px;
}

.book-container{
    background-color: black;
    color: white;
    padding: 15px;
    width: 25%;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}

.book-container h2{
    color: palevioletred;
    padding-bottom: 3px;
}
.book-container h5{
    padding-bottom: 3px;
}

.book-container button{
    background-color: palevioletred;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
}

.add-button{
    background-color: palevioletred;
    color: black;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: none;
}

.popup-box{
      background-color: palevioletred;
      color: black;
      width: 40%;
      padding:40px ;
      border-radius: 10px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;
      margin-top: 150px;
      margin-left: 20%;
      display: none;
}
 
.popup-box input{
        background-color: transparent;
        border: none;
        width: 100%;
        margin: 5px;
        padding: 5px;
        font-size: 18px;
        border-bottom: solid black 2px;
}
.popup-box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 17px;
    border: solid black 2px;
}

.popup-box input::placeholder{
    color: black;
}
 
.popup-box textarea::placeholder{
    color: black;
}

.popup-box button{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: none;
    margin: 5px;
}